.nav{
    background-color: rgba(0, 81, 255, 0.973) !important;
}

ul li a{
    color: white !important; 
}

.pets{
    width: 80%;
    margin-right:auto;
    margin-left: auto;
    margin-top: 50px;
}

.btn{
    display:flex;
    justify-content: flex-end;
}

.found{
    background-color: black;
    color:white;
}